.box{
    background-color: yellowgreen;
    min-height: 200px;
    padding: 20px;
    margin: 20px 10px;
}

h1{
    color: red;
}

@media (min-width:576px){ 
 
    h1{
        color: rgb(190, 187, 187);
    }
}

@media (min-width:768px){ 
 
    h1{
        color: rosybrown;
    }
}

@media (min-width:992px){ 
 
    h1{
        color: green;
    }
}

@media (min-width:1200px){ 
 
    h1{
        color: black;
    }
}