body{

    background-image: linear-gradient(to bottom right, #00f490,#00bbc9);
    font-size: 20px;
}

.jumbotron{
    background-color: rgba(0, 0, 0, 0);
}

h1{
    font-size: 70px;
}

.lead{
    color: white;
}

.btn-outline-light {
    border-color: white;
}

.btn-outline-light:hover{
    background-color: rgba(83, 81, 81, 0.281);
}
